body {
    background: #eee;
    font-size: 14px;
    box-shadow: 0 0 0 #ccc;
    border-radius: 5px;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.content {
    padding: 20px;
}





